.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
	background-color: #610a5a !important;
    border-color: #610a5a !important;
	color: #fff !important;
}

.pagination > li > a, 
.pagination > li > span {
	color: #610a5a !important;
}
.carousel-indicators li {
	box-shadow: 0 0 10px rgb(97, 10, 90) !important;
}