body{
	margin: 0;
	padding: 0;
	background-color: rgb(233, 233, 233);
	font-family: 'Roboto', sans-serif;
}
a,a:hover,a:visited,a:focus,a:active{
	color: #000;
	text-decoration: none;
}
header,footer,.main-container,.main-container-2{
	width: 100%;
	max-width: 1250px;
	margin: 0 auto;
	position: relative;
}
header,footer{
	background: rgb(65, 50, 75);
}
header{
	min-height: 100px;
	display: flex;
	text-align: center;
	align-items: center;
	z-index: 50;
}
footer{
	min-height: 150px;
	padding: 5px 0 20px 0;
}
h2{
	color: rgb(97, 10, 90);
	font-size: 1.8em;
	font-weight: 700;
	padding: 20px 0 10px 0;
	font-family: Ubuntu;
}
h3{
	color: rgb(97, 10, 90);
}
.tooltip{
	display: none;
}
.hamburger{
	display: none;
	width: 30px;
	height: 30px;
	margin: 15px;
	flex-direction: column;
	cursor: pointer;
}
.hamburger>div{
	width: 100%;
	height: 2px;
	border-radius: 5px;
	background: rgb(255, 255, 255);
	margin: 4px 0;
}
.main-container{
	background: rgb(255, 255, 255);
	min-height: calc(100vh - 250px);
	display: flex;
	align-items: flex-start;
}
.main-container-2{
	background: rgb(255, 255, 255);
}
.header-logo{
	width: 220px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header-logo>span{
	color: rgb(231, 131, 49);
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 700;
	line-height: 27px;
	font-family: 'Ubuntu', sans-serif;
}
.header-info{
	width: calc(100% - 220px);
	box-sizing: border-box;
	padding: 0 30px 0 10px;
	display: flex;
	height: 92px;
}
.header-catalog{
	padding: 35px 20px 0 0;
	width: 180px;
}
.header-catalog a{
	color: rgb(201, 199, 203);
	display: block;
	box-sizing: border-box;
	padding: 7px 15px;
	border: 1px solid #fff;
	border-radius: 3px;
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
}
.header-catalog a:hover{
	color: #fff;
}
.header-helper{
	width: 100%;
	/*width: calc(100% - 180px);*/
	display: flex;
	flex-direction: column;
}
.header-menu{
	width: 100%;
	height: 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-another{
	width: 100%;
	height: calc(100% - 35px);
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}
.header-list{
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	font-size: 13px;
}
.header-list>li>a{
	color: #fff;
	padding: 0 7px;
	border-right: 2px solid #fff;
}
.header-list>li:last-child>a{
	border-right: 0;
}
.header-list>li:first-child>a{
	padding: 0 7px 0 0;
}
.header-numbers{
	height: 25px;
	font-size: 14px;
	color: rgb(225, 225, 225);
	font-weight: 700;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	align-items: center;
}
.find{
	display: flex;
	align-items: center;
	height: 40px;
	/*width: calc(100% - 200px);*/
	width: calc(100% - 130px);
	position: relative;
}
.find input{
	height: 40px;
	box-sizing: border-box;
	display: block;
	padding: 0 40px;
	border: 0;
	border-radius: 4px 0 0 4px;
	width: calc(100% - 90px);
	font-size: 15px;
}
.find button{
	height: 40px;
	background-color: rgb(249, 229, 0);
	border: 0;
	font-size: 15px;
	padding: 0 15px;
	border-radius: 0 4px 4px 0;
}
.find button:focus,.find input:focus{
	outline: 0;
}
.find:before{
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	left: 12px;
	width: 16px;
	height: 16px;
	background: url(../img/find.jpg);
}
.find-close{
	display: block;
	position: absolute;
	top: 10px;
	right: 100px;
	width: 20px;
	height: 20px;
	font-size: 18px;
	line-height: 18px;
	color: rgb(78, 76, 76);
	padding: 2px;
	cursor: pointer;
	display: none;
}
.find-close:active{
	color: rgb(255, 0, 0);
}
.header-icons{
	/*width: 200px;*/
	width: 130px;
	display: flex;
	justify-content: flex-end;
}
.header-icons a{
	display: block;
	position: relative;
	width: 40px;
	height: 40px;
	margin: 0 10px;
}
.header-icons a:last-child{
	margin-right: 0;
}
.header-icons>a>span{
	position: absolute;
	background: red;
	border-radius: 35%;
	font-size: 10px;
	color: #fff;
	top: -3px;
	right: -3px;
	padding: 0 4px 0 3px;
	font-weight: 700;
	border: 1px solid rgb(100, 0, 0);
}
.footer-container{
	background: #fff;
	padding: 15px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer-icons{
	width: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-icons a{
	margin:0 5px;
}
.footer-navigation{
	width: calc(100% - 250px);
	display: flex;
	justify-content: center;
}
.footer-list{
	width: 33%;
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	font-size: 14px;
}
.footer-list{
	margin: 15px;
}
.main-menu{
	width: 300px;
	box-sizing: border-box;
	padding: 15px 5px 20px 35px;
	position: relative;
}
.main-list{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
}
.nav-list{
	width: 100%;
	z-index: 51;
	position: relative;
}
.nav-list>li{
	font-size: 16px;
}
.main-list>li{
	width: 100%;
	padding: 3px 0;
}
.nav-list>li>a{
	color: rgb(97, 10, 90);
}
.main-list>li>a{
	display: block;
	box-sizing: border-box;
	padding-right: 20px;
	position: relative;
}
.main-list>li>a:after{
	content: "\203A";
	display: block;
	position: absolute;
	top: -7px;
	right: 6px;
	font-weight: 700;
	font-size: 24px;
}
.nav-list>li>a:hover{
	color: rgb(231, 131, 49);
}
.nav-list>li>.no-arrow:after{
	content: "";
}
.menu-price-filter{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 25px 0;
	margin-top: 20px;
	border-top: 1px solid rgb(217, 217, 217);
	border-bottom: 1px solid rgb(217, 217, 217);
}
.menu-prices{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: rgb(97, 10, 90);
	font-size: 14px;
	font-family: sans-serif;
}
.menu-prices input[type=number]{
	color: rgb(97, 10, 90);
	width: 70px;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 2px 5px;
	border: 1px solid rgb(217, 217, 217);
}
.menu-help-labels{
	padding: 0 5px;
}
.menu-help-labels:nth-child(4){
	padding: 0 5px 0 3px;
}
.menu-prices input[type=number]:focus,.menu-prices button{
	outline: 0;
}
.menu-prices button{
	border-radius: 5px;
	border: 1px solid rgb(217, 217, 217);
	background-color: rgb(245, 245, 245);
	color: rgb(97, 10, 90);
	padding: 2px 8px;
	font-weight: 700;
}
.menu-slider{
	display: none;
	width: 100%;
	padding-top: 20px;
}
.menu-slider>.slider{
	width: 236px;
}
.menu-slider>.slider>.slider-handle{
	background: rgb(255, 255, 255);
	box-sizing: border-box;
	border: 1px solid rgb(217, 217, 217);
	width: 28px;
	height: 28px;
	top: -7px;
}
.menu-slider>.slider>.slider-track{
	height: 5px;
	border-radius: 0;
}
.menu-slider>.slider>.slider-track>.slider-track-low,.menu-slider>.slider>.slider-track>.slider-track-high{
	background: rgb(191, 191, 191);
}
.menu-slider>.slider>.slider-track>.slider-selection{
	background: rgb(97, 10, 90);
}
.main-catalog{
	width: calc(100% - 300px);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border-left: 1px solid rgb(217, 217, 217);
	margin-bottom: 200px;
}
.main-inner-goods{
	width: calc(100% - 105px);
	margin: 30px 45px 0 60px;
	border-bottom: 1px solid rgb(217, 217, 217);
}
.main-carousel{
	width: 100%;
	box-sizing: border-box;
	border: 1px solid rgb(217, 217, 217);
}
.carousel-indicators li{
	background: rgb(97, 10, 90);
	background-clip: padding-box;
}
.carousel-item img{
	max-height: 250px;
}
.carousel-indicators{
	margin-bottom: 0.5rem;
}
.main-all-goods{
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.main-good{
	box-sizing: border-box;
	width: 25%;
	display: flex;
	flex-direction: column;
	padding: 0 10px 15px 10px;
	border-right: 1px solid rgb(217, 217, 217);
	margin-bottom: 20px;
}
.main-good img{
	width: 100%;
}
.main-good-name{
	color: rgb(97, 10, 90);
	font-size: 1.2em;
	font-weight: 700;
	padding: 5px 0;
	font-family: Roboto;
}
.main-all-goods>.main-good:nth-child(4n+4),.main-all-goods>.main-good:last-child{
	border-right: 0;
}
.good-list{
	width: 97%;
}
.good-list>li{
	font-size: 14px;
	font-family: Ubuntu;
}
.good-list>li>a{
	color: #000;
}
.good-list>li>a:after{
	color: rgb(97, 10, 90);
	top: -9px;
}
.inner-title{
	padding-left: 60px;
}
.main-outer-goods{
	width: 100%;
	box-sizing: border-box;
	padding-right: 45px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.main-outer-good{
	width: 25%;
	box-sizing: border-box;
	border-right: 1px solid rgb(217, 217, 217);
	display: flex;
	flex-direction: column;
	padding: 0 10px 20px 10px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}
.main-outer-good .img-wrapper {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.main-outer-good .img-wrapper img{
	width: 90%;
	object-fit: scale-down;
}
a.outer-good-title{
	font-size: 12px;
	color: rgb(97, 10, 90);
	margin: 5px 0 7px 0;
	line-height: 15px;
	font-family: Arial;
	height: 50px;
}
.discount-price{
	font-size: 14px;
	color: rgb(119, 119, 119);
	font-weight: 700;
	display: block;
}
.main-outer-good strike{
	color: red;
}
.current-price{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price{
	display: flex;
	box-sizing: border-box;
	padding: 2px 10px 2px 4px;
	background: rgb(255, 242, 0);
	color: rgb(97, 10, 90);
	font-size: 15px;
	font-weight: 700;
}
.discount{
	color: rgb(255, 0, 0);
}
.reviews{
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 12px;
}
.stars{
	color: rgb(255, 169, 0);
}
.star{
	font-size: 17px;
	width: 15px;
	letter-spacing: -5px;
}
.reviews-count{
	display: block;
	margin-left: 8px;
	font-size: 11px;
	font-weight: bold;
	margin-top: 3px;
}
.outer-good-buy{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}
a.good-buy{
	background: rgb(97, 10, 90);
	padding: 5px 10px 5px 30px;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	position: relative;
}
a.good-buy:before{
	content: "";
	background-image: url(./../img/curt.png);
	background-size: cover;
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	left: 6px;
}
a.good-buy-disabled{
	background: rgb(100, 100, 100) !important;
	pointer-events: none;
}
a.good-buy-disabled:after{
	content: "немає на складі";
	position: absolute;
	bottom: -15px;
	text-align: center;
	width: 100%;
	color: rgb(0,0,0);
	font-size: 10px;
	left: 0;
}
.outer-good-icons{
	display: flex;
	align-items: center;
}
.outer-good-icons>a{
	display: block;
	height: 26px;
	width: 26px;
	padding: 2px;
	margin: 0 10px;
	background-size: cover;
}
.good-icon-separator{
	display: block;
	width: 1px;
	height: 30px;
	background-color: rgb(217, 217, 217);
}
.outer-good-icons>a:first-child{
	background-image: url(./../img/comparison-good.png);
}
.outer-good-icons>a:last-child{
	background-image: url(./../img/favorite-good.png);
}
a.leave-comment{
	font-size: 12px;
	text-align: center;
	display: block;
	margin: 0 auto;
	position: relative;
	color: #000;
	letter-spacing: -0.5px;
}
a.leave-comment:before{
	content: "";
	background-image: url(./../img/comment.png);
	background-size: cover;
	width: 13px;
	height: 11px;
	display: block;
	position: absolute;
	left: -17px;
	top: 4px;
}
.bg-black{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 49;
	background: rgba(0, 0, 0, 0.5);
}
.popup-nav{
	display: none;
	width: calc(100% - 300px);
	position: absolute;
	top: -10px;
	left: 0;
	border-radius: 3px;
	background: rgb(255, 255, 255);
	z-index: 50;
	padding: 15px 0 20px 300px;
	box-sizing: content-box;
}
/*.popup-nav:before{
	content: "";
	position: absolute;
	top: -5px;
	left: 270px;
	background-color: rgb(255, 255, 255);
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
}*/
.popup-nav>ul{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: inherit;
	padding-left: 20px;
	margin: 0;
	list-style: none;
	overflow: hidden;
}
.popup-nav>ul>li{
	width: 25%;
	margin-bottom: 5px;
}
.popup-nav>ul>li>a{
	font-size: 14px;
	color: rgb(0, 0, 0);
}
.popup-nav>ul>li>a:hover{
	color: rgb(231, 131, 49);
}
.popup-nav>ul>li>ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.popup-nav>ul>li>ul>li{
	font-size: 14px;
}
.popup-nav>ul>li>ul>li>a:hover{
	color: rgb(231, 131, 49);
}
.side-menu{
	position: fixed;
	top: 0;
	left: -320px;
	width: 100%;
	max-width: 320px;
	background: rgb(255, 255, 255);
	height: 100%;
	display: flex;
	flex-direction: column;
	z-index: 1000;
	transition-duration: 1s;
}
.side-header{
	background: rgb(65, 50, 75);
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.side-close{
	font-size: 40px;
	padding: 10px 15px 10px 10px;
	color: #a6a5a5;
	cursor: pointer;
}
.side-nav{
	width: 100%;
	padding: 0;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}
.side-nav>li{
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 16px;
	margin: 5px 0;
	padding: 0 15px;
}
.side-li-sep{
	padding-bottom: 10px !important;
	border-bottom: 1px solid #dedede;
}
.side-logo{
	margin: 0 10px 0 5px;
	width: 30px;
	height: 30px;
}
.side-nav>li>a{
	width: 100%;
	font-size: 18px;
	color: rgb(97, 10, 90);
}
.side-nav>li>a:hover{
	color: rgb(231, 131, 49);
}
.error{
	padding: 20px 10px 0 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: rgb(97, 10, 90);
}
.error_title{
	font-size: 5em;
	margin-bottom: -10px;
}
.error p{
	margin-top: 10px;
	font-size: 1.2em;
	text-align: center;
	padding: 0 20px;
}
.main-info-blc{
	padding: 20px 30px 0 30px;
	color: rgb(97, 10, 90);
}
.title-h2{
	font-size: 1.8em;
}
.main-info-blc>ul{
	font-family: Verdana;
	font-size: 1.4em;
}
.cont-info{
	display: flex;
	margin-top: 15px;
	margin-bottom: 5px;
}
.cont-info ul{
	width: 25%;
	padding-left: 0;
}
.cont-info ul li{
	list-style: none;
}
.txt-bigger{
	font-size: 1.25em;
}
.address{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.add-street{
	width: 170px;
	margin-top: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.add-street>span:first-child{
	font-size: 1.2em;
	margin-bottom: 5px;
}
.add-street>span:last-child{
	text-decoration: underline;
}
.address iframe{
	width: calc(100% - 200px);
	height: 50vh;
}
.curt-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	padding: 20px 0 30px 0;
	align-items: center;
}
.curt-empty{
	color: #ada9a9;
	font-size: 1.8em;
	font-weight: 700;
}
.curt-info>a{
	color: rgb(90, 17, 97);
	text-decoration: underline;
	font-size: 1.25em;
}
.recommended-goods{
	font-size: 1.2em;
	font-weight: 700;
	margin-top: 5px;
}
.container{
	width: 100%;
}
.product{
	padding: 20px;
}
.product>.title-h2{
	color: rgb(90,17,97);
	display: inline-block;
	width: 100%;
}
.code{
	padding: 3px 7px;
	font-size: 12px;
	border-radius: 5px;
	background: rgb(231, 131, 49);
	color: #fff;
	margin-top: 20px;
}
.product-tabs{
	margin-top: 20px;
}
.nav-tabs>li>a{
	color: rgb(90,17,97);
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{
	color: rgb(231, 131, 49);
}
.tab-content{
	padding-top: 20px;
}
.product-slider{
	width: 300px;
	max-height: 225px;
}
.carousel-control{
	background: none !important;
}
.glyphicon{
	color: rgb(90,17,97);
}
.btn-100px{
	width: 100px;
}
.prod-pr{
	font-size: 10px;
}
.prod-mn{
	display: block;
	margin:0 auto;
	width: 100%;
	text-align: center;
	color: rgb(90,17,97);
	font-size: 25px;
	font-weight: 700;
	position: relative;
}
.pan-inform{
	margin-top: 10px;
}
.pan-inf{
	display: inline-block;
	width: 100%;
	text-align: left;
}
.btns-product{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.btns-product button{
	transition-duration: 0s;
	padding: 7px 10px;
}
.btns-product button:focus{
	outline: none !important;
	box-shadow: none !important;
}
.btns-product>button:last-child{
	background: linear-gradient(rgb(246, 146, 64),rgb(231, 131, 49));
	border: rgb(216, 116, 34);
}
.btns-product>button:last-child:focus{
	background: rgb(231, 131, 49) !important;
	border: rgb(216, 116, 34) !important;
}
.center{
	text-align: center;
}
.panel-violet{
	width: 100%;
	border: 1px solid rgb(231, 131, 49);
}
.panel-violet .panel-heading{
	background: rgb(231, 131, 49);
	color: #fff;
}
.curt-products{
	display: flex;
	padding: 10px 30px;
	flex-direction: column;
	align-items: center;
}
.curt-product{
	position: relative;
	display: flex;
	justify-content: center;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 10px;
	border: 1px solid rgb(220, 220, 220);
	width: 100%;
}
.curt-close{
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 14px;
	background: rgb(215, 215, 215);
	border-radius: 50%;
	color: rgb(255, 255, 255);
	padding: 1px 4px 0 4px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.curt-close:hover{
	background: rgb(180, 180, 180);
}
.curt-product>img{
	margin-right: 5px;
}
.curt-description{
	width: calc(100% - 155px);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 30px 0;
}
.curt-info-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-items: flex-start;
}
.curt-info-title>span{
	font-size: 13px;
}
.curt-product-name{
	max-width: 85%;
	color: rgb(90, 17, 97);
	font-size: 13px;
}
.curt-info-body{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}
.curt-price{
	color: rgb(60, 60, 60);
	font-size: 18px;
	padding: 3px 15px;
	background: rgb(249, 229, 0);
	border-radius: 5px;
}
.curt-counter{
	display: flex;
	justify-content: center;
	align-items: center;
}
.curn-symbols{
	padding: 0 5px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.curt-minus{
	font-size: 32px;
	color: rgb(200, 0, 0);
}
.curt-plus{
	font-size: 28px;
	color: rgb(0,180,0);
}
.curn-number-products{
	font-size: 20px;
	padding: 2px 25px;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 5px;
}
.curt-summary-price{
	color: rgb(60, 60, 60);
	font-size: 20px;
}
.curt-total{
	margin-top: 20px;
	width: 350px;
	background: rgb(239, 225, 225);
	box-shadow: 1px 1px 10px rgb(220, 220, 220);
	border-radius: 5px;
	padding: 15px 30px;
}
.curt-total-info{
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	color: rgb(60, 60, 60);
}
.curt-total>a{
	text-align: center;
	color: rgb(255, 255, 255);
	width: 95%;
	margin: 0 auto;
	margin-top: 30px;
	background: rgb(0, 160, 0);
	border-radius: 5px;
	display: block;
	font-size: 22px;
	font-weight: 700;
	padding: 15px 0;
}
.good-main-info{
	margin-top: 20px;
}
.product-feedback{
	padding: 0 20px 20px 20px;
}
.product-feedback>form{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	justify-content: center;
	margin: 0 auto;
	font-size: 16px;
}
.product-feedback>form>input{
	padding: 5px 10px;
	border-radius: 3px;
	width: 100%;
	outline-color: rgb(90, 17, 97);
}
.product-feedback>form>textarea{
	width: 100%;
	border-radius: 3px;
	margin: 10px 0;
	outline-color: rgb(90, 17, 97);
	padding: 10px;
}
.product-feedback>form>button{
	padding: 10px 30px;
	border-radius: 10px;
	outline: none;
	font-weight: 700;
}
.find-pagination{
	margin: 0 auto;
}
.swap-good{
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.swap-good>img{
	max-width: 100%;
}
.second-good-img{
	position: absolute;
	top: -100%;
}
.second-good-img,.first-good-img{
	transition-duration: 1s;
}
.main-outer-good:hover .second-good-img{
	top: 0;
}
.main-outer-good:hover .first-good-img{
	z-index: -1;
}
span.not-available{
	color: rgb(160, 160, 160);
}
span.not-available:after{
	content: "немає на складі";
	font-size: 10px;
	text-align: center;
	width: 100%;
	display: block;
}
.btns-product button.not-available,.btns-product button.not-available:hover,.btns-product button.not-available:focus,.btns-product button.not-available:active{
	cursor: not-allowed;
	background: rgb(180, 180, 180) !important;
	border: 0;
}
button.not-available>span{
	color: rgb(255, 255, 255);
}
.order-container{
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding: 20px 50px;
	flex-direction: column;
	justify-content: center;
}
.order-info{
	display: flex;
	width: 100%;
	align-items: flex-start;
}
.order-form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 350px;
}
.order-form input,.order-form select,.order-form textarea{
	margin-bottom: 15px;
	outline-color: rgb(90,17,97);
	padding: 5px 10px;
	width: 100%;
}
.order-form input[type="submit"]{
	width: 50%;
	margin:0 auto;
	background: linear-gradient(rgb(147,67,140),rgb(87,7,80));
	height: 50px;
	border-radius: 7px;
	font-size: 18px;
	box-shadow: 1px 1px 5px rgb(90, 17, 97);
	border: 0;
	outline: 0;
	color: rgb(240, 240, 240);
}
.order-form input[type="submit"]:active{
	background: linear-gradient(rgb(127,47,120),rgb(87,7,80));
}
.order-goods{
	width: calc(100% - 370px);
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.one-click{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(245,245,245);
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(220, 220, 220);
}
.one-click div:first-child{
	width: 48%;
	padding: 10px;
	font-size: 15px;
	color: rgb(40, 40, 40);
}
.one-click div.click-separator{
	width: 1px;
	background: rgb(90, 17, 97);
	min-height: 100px;
}
.one-click div:last-child{
	width: 48%;
}
.one-clock-form{
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	justify-content: center;
}
.one-clock-form input{
	padding: 5px 10px;
	outline: 0;
}
.one-clock-form input:first-child{
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border: 1px solid rgb(220, 220, 220);
}
.one-clock-form input:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid rgb(0, 220, 0);
	border-left: 0;
	background: linear-gradient(rgb(0, 255, 0),rgb(0, 170, 0));
	color: rgb(255,255,255);
}
.one-clock-form input:last-child:active{
	background: linear-gradient(rgb(0, 225, 0),rgb(0, 150, 0));
}
.order-products{
	padding: 10px 0;
}
.btn-authorization{
	background: none;
	padding: 0;
	border: 0;
	color: #fff;
	padding-left: 7px;
	outline: none;
}
.catalog-big-btn{
	width: 50%;
	min-width: 200px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 7px;
	font-size: 20px;
	background: rgb(97, 17, 90);
	text-align: center;
	border-radius: 10px;
	display: none;
}
.catalog-big-btn a{
	color: rgb(240, 240, 240);
}
.title-retreat{
	padding-left: 20px;
}
.order-history{
	margin: 0 20px;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;}
summary{
	width: 100%;
	display:flex;
	padding: .3em .5em .3em .4em;
	font-size:1.4em;
	cursor: pointer;
}
summary:before{
	content: "▼";
	margin-right: .3em;
}
details[open]>summary:before{
	content: "▲";
}
summary:focus {
	outline:0;
}
details{
	color: rgb(70, 70, 70);
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	display:block;
	margin-bottom: 10px;
	background-color: rgb(210, 210, 210);
}
details>div{
	background: rgba(255,255,255,0.85);
	margin: 0px;
}
.order-header-info{
	display: flex;
	align-items: center;
	width: 100%;
}
.status{
	width: 150px;
	border-left: 1px solid rgb(200, 200, 200);
	text-align: center;
}
.status-completed{
	color: rgb(0, 150 , 0);
}
.status-cheering{
	color: rgb(97, 17 , 90);
}
.status-canceled{
	color: rgb(180, 0 , 0);
}
.order-small-info{
	width: calc(100% - 150px);
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
details>div.curt-products>div.curt-product{
	background: rgb(255, 255, 255);
}
details div.curt-description{
	padding: 0;
	width: calc(100% - 100px);
}
.sm-btn-author{
	padding: 0;
	margin: 0;
	font-size: 18px;
	outline: none;
	background: none;
	color: rgb(97,17,90);
	border: 0;
}
.sm-btn-author:focus,.sm-btn-author:active,.sm-btn-author:hover{
	outline: none;
	color: rgb(231, 131, 49);
}
.no-border{
	border: 0 !important;
}
.change-personal-info{
	margin: 20px 20px 0 20px;
}
.header-change-info{
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}
.change-form{
	display: flex;
	justify-content: center;
	padding: 20px;
}
.text-blc{
	font-size: 1.3em;
}
.text-blc>a{
	color: rgb(97,17,90);
	text-decoration: underline;
}
.nomuch-good-img{
	display: block;
	margin: 0 auto;
}
.btn-40px{
	width: 47px;
}
.small-btn-good{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 3px;
	width: 100px;
}
.promo-price{
	color: red;
}
.promo-price ~ .prod-mn{
	font-size: 16px;
	text-align: right;
	text-decoration: line-through;
}
@media (max-width: 1250px){
	header{
		padding: 20px 0;
	}
	.header-catalog{
		padding: 50px 20px 0 0;
	}
	.header-menu{
		height: 50px;
		flex-wrap: wrap;
	}
	.header-list,.header-numbers{
		width: 100%;
		justify-content: center;
	}
	.header-another{
		padding: 5px 0;
	}
	.main-inner-goods{
		margin: 30px 30px 0 30px;
		width: calc(100% - 60px);
	}
	.main-outer-goods{
		padding-right: 0;
	}
	.discount-price{
		text-align: center;
	}
	.outer-good-buy,.current-price{
		flex-wrap: wrap;
		justify-content: center;
	}
	.outer-good-icons{
		margin-top: 5px;
	}
	.order-container{
		padding: 10px;
	}
	.order-form{
		width: 300px;
	}
	.order-goods{
		width: calc(100% - 270px);
	}
}
@media (max-width: 992px){
	header{
		padding: 0;
		min-height: 60px;
	}
	.hamburger{
		display: flex;
	}
	.header-catalog,.header-menu,.header-logo>span{
		display: none;
	}
	.header-info{
		height: 60px;
		padding: 0;
		width: calc(100% - 220px);
	}
	.header-logo{
		width: 160px;
	}
	.header-helper{
		width: 100%;
		padding: 0 10px;
		align-items: center;
	}
	.header-another{
		padding: 0;
		height: 100%;
		align-items: center;
	}
	.find{
		width: calc(100% - 120px);
	}
	.header-icons{
		width: 120px;
		justify-content: center;
	}
	.header-icons>a:nth-child(2){
		margin-left: 0;
	}
	.main-menu{
		display: none;
	}
	.main-catalog{
		width: 100%;
		border: 0;
		margin-bottom: 100px;
	}
	.middle-h2{
		text-align: center;
		width: 100%;
		display: inline-block;
	}
	.cont-info{
		justify-content: space-around;
	}
	.cont-info ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
	}
	.cont-info ul li{
		text-align: center;
	}
	.address{
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}
	.address iframe{
		width: calc(100% - 50px);
	}
	.order-info{
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}
	.order-form{
		width: 60%;
		margin-top: 20px;
		min-width: 300px;
	}
	.order-goods{
		width: 100%;
		margin-left: 0;
	}
	.catalog-big-btn{
		display: block;
	}
}
@media (max-width: 768px){
	.carousel-item img {
		height: auto;
	}
	.main-inner-goods{
		margin: 10px 10px 0 10px;
		width: calc(100% - 20px);
	}
	.main-good{
		width: 33%;
	}
	.inner-title{
		text-align: center;
		padding-left: 0;
	}
	.main-all-goods>.main-good:nth-child(4n+4){
		border-right: 1px solid rgb(217, 217, 217);
	}
	.main-all-goods>.main-good:nth-child(3n+3){
		border-right: 0;
	}
	.main-outer-goods>div.main-outer-good:nth-child(3),.main-outer-goods>div.main-outer-good:nth-child(4){
		display: none;
	}
	.main-outer-goods>div.main-outer-good:nth-child(2){
		border-right: 0;
	}
	.main-outer-goods{
		justify-content: center;
	}
	.main-outer-good{
		width: 50%;
		max-width: 400px;
		padding: 0 30px 30px 30px;
	}
	a.outer-good-title{
		text-align: center;
	}
	.current-price{
		flex-direction: column;
	}
	.current-price>.price{
		margin-bottom: 3px;
	}
	.footer-container{
		flex-direction: column;
		padding: 15px 0;
	}
	.footer-icons{
		margin-bottom: 10px;
	}
	.footer-navigation{
		width: 90%;
	}
	.header-icons{
		width: 100px;
	}
	.find button{
		font-size: 13px;
		padding: 0 5px;
	}
	.find input{
		width: calc(100% - 55px);
	}
	.find-close{
		right: 65px;
	}
	.good-main-info{
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.product-slider{
		margin: 0 auto;
	}
	.pan-inf{
		text-align: center;
	}
	.good-main-info div:first-child{
		margin-bottom: 10px;
	}
	.curt-product{
		flex-direction: column;
		align-items: center;
	}
	.curt-product>img{
		margin-right: 0;
	}
	.curt-description{
		width: 90%;
		padding: 15px 0;
	}
	.curt-info-title>span{
		display: none;
	}
	.curt-product-name{
		max-width: 100%;
		text-align: center;
	}
	.curt-price{
		font-size: 14px;
	}
	.curt-summary-price{
		font-size: 16px;
	}
	.one-click{
		flex-direction: column;
		width: 100%;
	}
	.one-click div:first-child,.one-click div:last-child{
		width: 100%;
	}
	.one-click div:first-child{
		text-align: center;
	}
	.one-click div.click-separator{
		height: 1px;
		width: 90%;
		min-height: 0;
	}
	details div.curt-description{
		width: 100%;
	}
	.order-header-info{
		font-size: 14px;
	}
	.status{
		width: 90px;
	}
	.order-small-info{
		width: calc(100% - 90px);
	}
}
@media (max-width: 576px){
	h2{
		font-size: 1.6em;
	}
	.header-logo{
		display: none;
	}
	.header-info{
		width: 100%;
	}
	.header-icons{
		width: 50px;
	}
	.header-icons>a:nth-child(1){
		display: none;
	}
	.find{
		width: calc(100% - 50px);
	}
	.main-inner-goods{
		margin: 10px 5px 0 5px;
		width: calc(100% - 10px);
	}
	.main-good{
		width: 50%;
	}
	.inner-title{
		text-align: center;
	}
	.main-all-goods>.main-good:nth-child(3n+3){
		border-right: 1px solid rgb(217, 217, 217);
	}
	.main-all-goods>.main-good:nth-child(2n+2){
		border-right: 0;
	}
	.main-good-name{
		font-size: 1em;
	}
	.good-list>li{
		font-size: 0.8em;
	}
	.main-outer-good {
		padding: 0 5px 5px 5px;
	}
	.carousel-indicators{
		margin-bottom: -1.2rem;
	}
	.address iframe{
		width: 100%;
	}
	.curt-description{
		width: 100%;
	}
	.curt-product,.curt-products{
		padding: 10px;
	}
	.curt-total{
		width: 100%;
		max-width: 400px;
	}
	.catalog-big-btn{
		padding: 5px;
		width: 80%;
		margin-top: 25px;
	}
	.order-small-info{
		padding: 0;
		flex-direction: column;
		align-items: center;
	}
}